body { background: #af7181; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 55px; display: flex; }
.block-validator-0 { color: #1418dc; font-size: 21px; margin-bottom: 5px; }
.block-helper-1 { color: #25860; font-size: 13px; margin-bottom: 5px; }
.block-email-2 { color: #ecb4d3; font-size: 12px; margin-bottom: 5px; }
.block-session-3 { color: #17bb32; font-size: 12px; margin-bottom: 5px; }
.block-config-4 { color: #75ed2d; font-size: 13px; margin-bottom: 5px; }
.block-router-5 { color: #b9896d; font-size: 15px; margin-bottom: 5px; }